/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

.accent {
    color: #007bff;
}

.section-title {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 40px;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 25px 8%;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;         /* Enlève les puces */
    margin: 0;
    padding: 0;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #007bff;            /* Bleu électrique au hover */
}


/* HERO */
.hero {
    height: 100vh;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f4f7ff;
}

.hero-content h1 {
    font-size: 3.5rem;
}

.hero-content h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: #444;
}

.btn {
    background: #007bff;
    padding: 12px 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

/* A PROPOS */
.apropos {
    padding: 90px 8%;
}

.apropos-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.apropos img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #007bff;
}

/* SKILLS */
.skills {
    padding: 90px 8%;
    background: #f8f8f8;
}

.skills-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.skill-card {
    padding: 25px;
    background: white;
    border-radius: 10px;
    width: 28%;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}

/* PROJETS */
.projets {
    padding: 90px 8%;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.project-card {
    background: white;
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.07);
    transition: transform .3s;
}

.project-card:hover {
    transform: translateY(-7px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tags {
    margin: 8px 0;
    font-size: .9rem;
    color: #007bff;
}

.btn-small {
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

/* CONTACT */
.contact {
    padding: 90px 8%;
    text-align: center;
}

/* ANIMATIONS APPARITION */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: .7s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
